 /* Custom properties: uitzoeken hoe het werkt en ik het kan implementeren (deeltaak sprint 4)
  - kleur thema (dark modus)
  - h1/h2 etc styling
  - box shadow?*/
  
  /* ================ ROOT/CUSTOM PROPERTIES ================ */
  :root {
    --color-white: white;
    --color-blue: rgb(49, 39, 113);
    --color-green:rgb(78, 113, 65);
    
    --body: var(--color-white);
    --heading: var(--color-white);
    --bg: var(--color-white);
    --button-text: var(--color-blue);
    --button-bg: var(--color-white);
    --button-text-hover: var(--color-white);
    --button-bg-hover: var(--color-blue);
    
    --border-radius: 10px;

    --box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  

 /* ================ STYLING BODY ================ */
 body {
   padding: 1rem 2rem 0 2rem;
   color: var(--color-blue);
   font-family: Arial, Helvetica, sans-serif;
 }

 /* ================ STYLING HEADINGS ================ */
 h1 {
   font-size: 2rem;
   color: var(--color-white);
   text-shadow: var(--box-shadow); 
 }

 /* ================ STYLING HEADER ================ */
 header {
   display: flex;
   justify-content: space-around;
 }

 header a img {
   width: 300px;
   max-width: 100%;
   height: auto;
 }

 /* breakpoint toevoegen hamboergoer menoe mobile versie?*/
 .main-navigation-menu ul {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
 }

 .main-navigation-menu li {
   display: flex;
   margin-right: 20px;
 }

 /* ================ STYLING MAIN  ================*/
 .main-header {
   padding: 10px;
   padding:1em;
   background-color: rgb(78, 113, 65, 0.8);
   border-color: var(--color-green);
   border-radius: 5px;
   box-shadow: var(--box-shadow);
 }

 .main-header q {
  text-align: center;
 }



 /* ================ STYLING CAROUSEL "TIPS BUURTBEWONERS" ================ */
 .box-buurtbewoners {
   padding: 10px;
 }


 .carousel-tips-buurtbewoners {
   border-radius: 5px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   max-width: 100%;
   overflow: scroll;
   box-shadow: var(--box-shadow);
 }

 .slides {
   display: flex;
   flex-direction: row;
   list-style: none;
   padding-inline-start: 0;
   width: 60rem;
 }

 .slides-item {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;
   grid-template-areas:
     "tip-foto-buurtbewoner";
   border-radius: var(--border-radius);
   margin: 10px;
   font-size: 1rem;
   padding: 15px;
   text-align: left;
 }

 .slides-item p,
 .slides-item img {
   grid-area: tip-foto-buurtbewoner;
 }

 .slides-item p {
   background-color: rgba(255, 255, 255, 0.6);
   overflow: hidden;
   place-self: start center;
   border-radius: var(--border-radius);
   padding: 5%;
   
  }
  
  .slides-item img {
    border-radius: var(--border-radius);
    max-width: 100%;
    box-shadow: var(--box-shadow);
  }
  
  /* ================ STYLING "VIND JOUW PLANT" ================ */
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2em;
  }
 
  .box-vind-jouw-plant button {
   border-radius: var(--border-radius);
    color: var(--color-blue);
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: var(--box-shadow);
    border-style: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    width: 40%;
    min-width: 200px;
  }
 
  .box-vind-jouw-plant button:hover {
    background-color: var(--color-blue);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
  }
  
  
  /* ================ STYLING "VISIT OBA" ================*/
  .box-visit-oba {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
 }
 

 .box-visit-oba h2 {
   text-align: left;
 }

 .box-visit-oba button {
   display: inline-block;
   border-radius: var(--border-radius);
   background-color: rgb(78, 113, 65, 0.8);
   box-shadow: var(--box-shadow);
   border-style: none;
   text-align: center;
   transition-duration: 0.4s;
   margin-left: 3rem;
   
 }


 .workshop-1 .workshop-2 {
   margin: 1rem 1rem 1rem 1rem;
   padding: 0.5rem 1.5rem;

 }

 .box-visit-oba button p {
   color: var(--color-white);
 }



 /* POP UP SEARCH FIELD */
 .pop-up-search {
   background-color: var(--color-white);
   padding: 2em;
   border-radius: var(--border-radius);
   position: fixed;
   z-index: 2;
   width: 50vw;
   top: 50vw;
   left: 15%;
 }

 .button-close {
   background-color: transparent;
   cursor: pointer;
   font-size: 1em;
   padding-left:3em;
   padding-right: 3em;

   border: 0;
   border-radius: 50%;
   /* position: absolute, top, right; */
   /* right: 0em; */
 }


 .pop-up-blurry-background {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100vw;
   height: 100vh;
   background-color: rgba(12, 40, 17, 0.5);
   backdrop-filter: blur(5px);
 }

 .container-search-pop-up {
   display: none;
 }

 .display-search-container {
   display: block;
 }

 .pop-up-search label {
   display: flex;
   border-radius: 5px;
   padding: 1em 0 1em 1em;
   margin-left: 1em;
 }

 .pop-up-search input {
   margin-left: 1em;
 }

 .pop-up-search button {
   margin-top: 1em;
   margin-left: 2em;
 }


 /* ================ FOOTER STYLING ================*/


 footer img {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   height: auto;
   width: 1200px;
 }

 .footer-middle {
   background-color: var(--color-blue);
   color: var(--color-white);
   padding: 25px 25px 25px 25px;
 }

 .footer-middle ul {
   list-style-type: none;
   display: flex;
 }


 .footer-bottom {
   display: flex;
   justify-content: center;
   padding: 25px 25px 25px 25px;

 }

 /* voor mobiel deze onder socials footer-bottom*/
 .newsletter-form {
   max-width: fit-content;
   overflow: hidden;
 }

 .newsletter-form h2 {
   text-align: left;
 }

 @media screen and (max-width: 300px) {
   .footer-middle {
     display: flex;
     flex-direction: column;
   }
 }

 @media screen and (min-width: 500px) {
   .footer-middle {
     display: flex;
   }
 }

 @media screen and (min-width: 500px) {
   .newsletter-form {
     padding-left: 10rem;
   }
 }

 @media screen and (min-width: 876px) {
   .newsletter-form {
     padding-left: 20rem;
   }
 }

 @media screen and (min-width: 500px) {
   .footer-top img {
     display: flex;
     align-items: center;
     justify-content: center;

   }
 }


 /* ============ MEDIA QUERIES ================*/

 /* MEDIA QUERIES - BREAKPOINTS CAROUSEL */

 @media screen and (min-width: 375px) {
   .carousel-tips-buurtbewoners {
     background-color: rgb(78, 113, 65, 0.8)
   }
 }

 @media screen and (min-width: 625px) {
   .carousel-tips-buurtbewoners {
     background-color: rgb(78, 113, 65, 0.6);
   }
 }

 /* MEDIA QUERIES - BREAKPOINTS BUTTONS */

 /*@media screen and (min-width: 400px) {
   .box-vind-jouw-plant button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-right: 6rem;
     margin-left: 6rem;
     max-width: 400px;
   }
 }*/

 /*@media screen and (max-width: 500px) {
   .box-vind-jouw-plant button {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-right: 6rem;
     margin-left: 6rem;
     max-width: 400px;
   }
 }*/


 @media screen and (min-width: 400px) {
   .box-vind-jouw-plant button {
     display: inline-block;
     /* margin-right: 6rem;
     margin-left: 6rem; */
     max-width: 400px;
   }
 }

 /*@media screen and (min-width: 625px) {
   .box-vind-jouw-plant button {
     display: flex;
     align-content: space-between;
     flex-direction: column;
     margin-right: 6rem;
     margin-left: 6rem;
     max-width: 200px;
   }
 }*/